.home-container{
    z-index: -1;
}

.hero{
    background-color: #111111;
    width: 100%;
    color: white;
    display: flex;
    height: 800px;
}

.hero-img{
    width: 50%;
    object-fit: cover;
    filter: brightness(50%)
}
.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hero-title{
    font-size: 4em;
    text-align: center;
}


.hero-subtitle{
        font-size: 1.2em;
}


.hero-button{
    padding: 16px;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    background-color: #F16D10;
    border: 0;
    border-radius: 16px;
    width: 180px;
}



.about-container{
    display: flex;
    background-color: #191917;
    gap: 100px;
    height: 800px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-img{
    height: 500px;
    width: 30%;
    object-fit: cover;
    margin: 0 50px;
    border-radius: 54px;
}

.about-top h2{
    color: #F16D10;
    font-weight: lighter;
}


.about-top h1{
    font-size: 3.3em;
    color: white;
}


.about-content{
    height: 90%;
}

.about-list{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    gap: 30px;
    place-items: center; 
    height: 90%;
}

.about-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 280px;
    gap: 16px;
    height: 100%;
}

.about-item h3 {
    font-size: 29px;
}



.about-icon{
    background-color: #404040;
    height: 80px;
    padding: 16px;
    width: 80px;
    border-radius: 16px;
}